<!DOCTYPE html>
@{
    string appName = "Alpha BackOffice Web";
    var controllerName = Url.RequestContext.RouteData.Values["controller"].ToString().ToLower();
    var actionName = Url.RequestContext.RouteData.Values["action"].ToString().ToLower();
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@appName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(appName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li @(controllerName == "home" && actionName == "index" ? "class=selected-menuitem" : string.Empty)>@Html.ActionLink("Dashboard", "Index", "Home")</li>
                    <li @(controllerName == "bookingrequest" && actionName == "index" ? "class=selected-menuitem" : string.Empty)>@Html.ActionLink("Process Booking Requests", "Index", "BookingRequest")</li>
                    <li @(controllerName == "bookingrequest" && actionName == "checkstatus" ? "class=selected-menuitem" : string.Empty)>@Html.ActionLink("View Booking Requests", "CheckStatus", "BookingRequest")</li>
                    <li @(controllerName == "bookingrequest" && actionName == "viewkpi" ? "class=selected-menuitem" : string.Empty)>@Html.ActionLink("View Call Center KPI", "ViewKpi", "BookingRequest")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @appName</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
