@using BackOfficeWeb.Resources
@model IEnumerable<Booking.Models.BookingRequest>
@using Booking.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var statistics = ViewData["statistics"] as BookingStatisticsModel;
}
<div class="wrapper">
    <h4>@Text.PageTitle_ViewBookingRequests</h4>
    <div class="form-horizontal">
        <div class="form-group">
            @if (statistics != null)
            {
                <div class="col-md-12">
                    <div class="col-md-6"><b>No of Genuine Bookings: </b>@statistics.NumberOfBookings</div>
                    <div class="col-md-6"><b>Percentage of Bookings: </b>@statistics.PercentageOfBookings</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6"><b>No of Enquiries: </b>@statistics.NumberOfEnquiries</div>
                    <div class="col-md-6"><b>Percentage of Enquiries: </b>@statistics.PercentageOfEnquiries</div>
                </div>
            }
            <div class="col-md-12">
                Status @Html.DropDownList("Status", new List<SelectListItem> {
                                            new SelectListItem { Text = "All", Value = "" },
                                            new SelectListItem { Text = "Confirmed", Value = "Confirmed" },
                                            new SelectListItem { Text = "Enquiry", Value = "Enquiry" } ,
                                            new SelectListItem { Text = "Pending", Value = "Pending" } },
                                            new { htmlAttributes = new { @class = "form-control" } })
                <input type="button" id="btnSearch" value="Search" />
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <tr>
            <th>
                @Text.Label_RequestNumber
            </th>
            <th>
                @Text.Label_RequestorId
            </th>
            <th>
                @Text.Label_RequestorFirstName
            </th>
            <th>
                @Text.Label_RequestorLastName
            </th>
            <th>
                @Text.Label_RequestorMobilePhoneNo
            </th>
            <th>
                @Text.Label_RequestorEmail
            </th>
            <th>
                @Text.Label_Status
            </th>
            <th>
                @Text.Label_CreatedDate
            </th>
            <th></th>
        </tr>
        @if (Model == null)
        {
            <tr>
                <td colspan="9" style="text-align:center">
                    No record(s) found.
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestorId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestorFirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestorLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestorMobilePhoneNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestorEmail)
                    </td>
                    <td class="@item.Status.ToLower()">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @item.CreatedDate.ToString("yyyy-MM-dd hh:mm:ss")
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.RequestNumber })
                    </td>
                </tr>
            }
        }
    </table>
    @if (Model != null)
    {
        @Html.Partial("_PagingPartial", ViewBag.PagingModel as BackOfficeWeb.Models.PagingModel)
    }
</div>

@section Scripts {
    <script>
    $(function () {
        $("#btnSearch").click(function () {
            window.location.href = '@Url.Action("CheckStatus", "BookingRequest")' + "?status=" + $("#Status").val();
        });

        $("#pager").change(function () {
            window.location.href = '@Url.Action("CheckStatus", "BookingRequest")' + "?status=" + $("#Status").val() + '&page=' + $(this).val();
        });
    });
    </script>
}