@model IEnumerable<Booking.Models.BookingRequest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var statistics = ViewData["statistics"] as Booking.Models.BookingStatisticsModel;
}

<h2>Check Booking Requests Status</h2>
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-12">
            No of Genuine Bookings: @statistics.NumberOfBookings<br />
            Percentage of Bookings: @statistics.PercentageOfBookings<br />
            No of Enquiries: @statistics.NumberOfEnquiries<br />
            Percentage of Enquiries: @statistics.PercentageOfEnquiries
        </div>
        <div class="col-md-12">
            Status @Html.DropDownList("Status",new List<SelectListItem> {
                                            new SelectListItem { Text = "All", Value = "" },
                                            new SelectListItem { Text = "Confirmed", Value = "Confirmed" },
                                            new SelectListItem { Text = "Enquiry", Value = "Enquiry" } ,
                                            new SelectListItem { Text = "Pending", Value = "Pending" } },
                                            new { htmlAttributes = new { @class = "form-control" } })
            <input type="button" id="btnSearch" value="Search" />
        </div>
    </div>

</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequestNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestorLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestorMobilePhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestorDeskPhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestorEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RequestNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestorFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestorLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestorMobilePhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestorDeskPhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestorEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.RequestNumber })
        </td>
    </tr>
}

</table>
@section Scripts {
    <script>
        $(function () {
            $("#btnSearch").click(function () {
                window.location.href = '@Url.Action("CheckStatus", "BookingRequest")' + "?Status=" + $("#Status").val();
            });
        });
    </script>
}