@using BackOfficeWeb.Resources
@model IEnumerable<Booking.Models.BookingRequest>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <h4>@Text.PageTitle_ProcessBookingRequests</h4>
    <table class="table table-striped table-hover">
        <tr>
            <th>
                @Text.Label_RequestNumber
            </th>
            <th>
                @Text.Label_RequestorId
            </th>
            <th>
                @Text.Label_RequestorFirstName
            </th>
            <th>
                @Text.Label_RequestorLastName
            </th>
            <th>
                @Text.Label_RequestorMobilePhoneNo
            </th>
            <th>
                @Text.Label_RequestorEmail
            </th>
            <th>
                @Text.Label_Status
            </th>
            <th>
                @Text.Label_CreatedDate
            </th>
            <th></th>
        </tr>
        @if (Model == null)
        { 
            <tr>
                <td colspan="9" style="text-align:center">
                    No record(s) found.
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestorId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestorFirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestorLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestorMobilePhoneNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestorEmail)
                    </td>
                    <td class="@item.Status.ToLower()">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @item.CreatedDate.ToString("yyyy-MM-dd hh:mm:ss")
                    </td>
                    <td>
                        @Html.ActionLink("Process", "Details", new { id = item.RequestNumber, process = true })
                    </td>
                </tr>
            }
        }
    </table>
    @if (Model != null)
    {
        @Html.Partial("_PagingPartial", ViewBag.PagingModel as BackOfficeWeb.Models.PagingModel)
    }
</div>
@section scripts{
    <script>
        $(function () {
            $("#pager").change(function () {
                window.location.href = '@Url.Action("Index", "BookingRequest")' + '?page=' + $(this).val();
            });
        });
    </script>    
}
