@model IEnumerable<Booking.Models.BookingRequestKpiModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <h4>View Call Center KPI</h4>
    <table class="table table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequestNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendedDate)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttendedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeTaken)
                </td>
                <td>
                    @item.CreatedDate.ToString("yyyy-MM-dd hh:mm:ss")
                </td>
                <td>
                    @item.AttendedDate.ToString("yyyy-MM-dd hh:mm:ss")
                </td>
            </tr>
        }
    </table>
    @Html.Partial("_PagingPartial", ViewBag.PagingModel as BackOfficeWeb.Models.PagingModel)
</div>
@section scripts{
    <script>
        $(function () {
            $("#pager").change(function () {
                window.location.href = '@Url.Action("ViewKpi", "BookingRequest")' + '?page=' + $(this).val();
            });
        });
    </script>
}